@import "./variables.scss";

html {
}
body {
  background-color: #CAFFA0;
  margin: 0;
}

main {
  margin-top: 12px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.logo {
  padding-left: 25px;
}

header {
  background-color: #FFA959;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  padding-top: 20px;
  top: -5px;
  z-index: 999;
}