@import "./variables.scss";

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  // background-color: #CAFFA0;
  background-color: #FFF;
  margin: 0;
}

.intro {
  padding-top: 0;
  margin-top: 14px;
}

main {
  // margin-top: 12px;
}
.border {
  border: solid #000 1px;
}
.bgColorBlack {
  background-color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.logo {
  padding-left: 25px;
}

.info {
  max-width: 70ch;
  line-height: 1.2;
}
.info-link {
    position: absolute;
    right: 24px;
    top: 19px;
}

header {
  // background-color: #FFA959;
  background-color: #FFF;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  padding-top: 20px;
  top: -5px;
  z-index: 999;
}
.negMarg {
  margin-top: -3%;
}

//temporary mobile styles
@media only screen and (max-width: 850px) {
  nav,main {
    visibility: hidden;
  }
  body::before {
    content: "Mobile site under construction, please view on desktop :)";
    font-family: $primary-font;
    font-size: 24px;
    position: absolute;
    top: 15%;
    text-align: center;
  }
}