@import "./variables.scss";

h4 {
  margin: 0 0 8px 0;
}

nav {
  // background-color: #E7B4FF;
  background-color: #FFF;
  border-right: solid 1px #000;
  position: fixed;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 54px;
  height: 100%;
  // padding-left: 30px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    li {
      padding-bottom:10px;
      padding-left: 15px;
      a:not(.loadNavLink-active) {
        position: relative;
        display: block;
        text-decoration: none;
        transition: 0.4s;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          top: 100%;
          left: 0;
          background: #000;
          transition: transform 0.4s;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover {
          color: #000;
          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
      a.active {
        color: #000;
        &:after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}


// .logo-link {
//   display: block;
//   text-decoration: none;
//   transition: 0.4s;
//   &:after {
//     position: absolute;
//     content: "";
//     width: 8.5%;
//     height: 1px;
//     top: 83%;
//     left: 25px;
//     background: #000;
//     transition: transform 0.4s;
//     transform: scaleX(0);
//     transform-origin: right;
//   }
//   &:hover {
//     color: #000;
//     &:after {
//       transform: scaleX(1);
//       transform-origin: left;
//     }
//   }
// }


// .loadNavLink-active {
//   position: relative;
//   display: block;
//   text-decoration: none;
//   &:after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 1px;
//     top: 100%;
//     left: 0;
//     background: #000;
//   }
// }
// .loadNavLink-active, .info-link.active {
//   color: #000;
// }
