@import "./variables.scss";

h4 {
    margin: 0 0 8px 0;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    li {
      padding-bottom:10px;
      padding-left: 15px;
      a {
        position: relative;
        display: block;
        text-decoration: none;
        transition: 0.5s;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 2px;
          top: 100%;
          left: 0;
          background: #000;
          transition: transform 0.5s;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover {
          color: #000;
          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
    }
  }


