@import "./variables.scss";

h4 {
    margin: 0 0 8px 0;
}

nav {
  background-color: #E7B4FF;
  border-right: solid 1px #000;
  position: fixed;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 60px;
  height: 100%;
  // padding-left: 30px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;
    li {
      padding-bottom:10px;
      padding-left: 15px;
      a {
        position: relative;
        display: block;
        text-decoration: none;
        transition: 0.4s;
        &:after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          top: 100%;
          left: 0;
          background: #000;
          transition: transform 0.4s;
          transform: scaleX(0);
          transform-origin: right;
        }
        &:hover {
          color: #000;
          &:after {
            transform: scaleX(1);
            transform-origin: left;
          }
        }
      }
      a.active {
        color: #000;
        &:after {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }
  }
}

.info-link {
  display: block;
  text-decoration: none;
  transition: 0.4s;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 69%;
    left: 0;
    background: #000;
    transition: transform 0.4s;
    transform: scaleX(0);
    transform-origin: right;
  }
  &:hover {
    color: #000;
    &:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
.loadNavLink, .info-link.active {
  color: #000;
  &:after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

