@font-face {
  font-family: NeueMachinaRegular;
  src: url("/fonts/PPNeueMachina-PlainRegular.otf");
  font-display: swap;
}
@font-face {
  font-family: NeueMachinaLight;
  src: url("/fonts/PPNeueMachina-PlainLight.otf");
  font-display: swap;
}
//colors
$primary-color: null;
$secondary-color: null;
$tertiary-color: null;

//fonts
$primary-font: NeueMachinaRegular;
$secondary-font: NeueMachinaLight;

$font-size-body: 18px;
$font-size-secondary: 14px;

//add rem font sizing orr % based font sizing

//breakpoints
$media-lg: 1200px;
$media-sm: 800px;
