@font-face {
  font-family: NeueMachinaRegular;
  src: url("/fonts/PPNeueMachina-PlainRegular.otf");
  font-display: fallback;
}
@font-face {
  font-family: YoungSerif;
  // src: url("/fonts/PPNeueMachina-PlainLight.otf");
  src: url("/fonts/YoungSerif-Regular.ttf");
  font-display: fallback;
}

//colors
$primary-color: null;
$secondary-color: null;
$tertiary-color: null;

//fonts
$primary-font: YoungSerif;
$secondary-font: YoungSerif;

$font-size-body: 18px;
$font-size-secondary: 14px;

//add rem font sizing orr % based font sizing

//breakpoints
$media-lg: 1200px;
$media-sm: 800px;
